/* TEST */


/*
GLOBAL VARIABLES
----------------------------------------------------
*/
:root{

  /* todo box color */
  --todo_bg: #f1c40f;
  --todo_bd: #D9A63A;
  --todo: #E69F00;

  /* inprogress box color */
  --inprog_bg: #CDE9F8;
  --inprog_bd: #6FB7DE;
  --inprog: #56B4E9;

  /* done box color */
  --done_bg: #B9E3D2;
  --done_bd: #3FA582;
  --done: #009E73;

  /* not concerned box color */
  --nc_bg: #EDEDEB; 
  --nc_bd: #B5B4AF;
  --nc: #8A8984;

  /* Section color */
  --question: #66c2a5;
  --data: #fc8d62;
  --algo: #8da0cb;
  --other: #bebebe;
}

/*
TITLES FORMAT
----------------------------------------------------
*/
h1, h2, h3{
  text-align: center;
}

.divTitle{
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  border-radius: 10px;
  margin: 15px 15px 0px 15px;
  color: white;
}

.divTitle-question{
  border: solid var(--question);
  background-color: var(--question);
}

.divTitle-data{
  border: solid var(--data);
  background-color: var(--data);
}

.divTitle-algo{
  border: solid var(--algo);
  background-color: var(--algo);
}

.divTitle-other{
  border: solid var(--other);
  background-color: var(--other);
}

/* 
DIV FORMAT 
----------------------------------------------------
*/
.container{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.mainDiv{
  /*border: solid;*/
  border-radius: 10px;
  margin: 0px 15px 0px 15px;
  padding: 1px 10px 10px 0;
  /*box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.2);*/
}

.secondDiv{
  /*background-color: olive;*/
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}

/* Each individual div of part 1 */
.HRDiv, .CRDiv, .GPDiv {
  width: 100%;
  margin-bottom: 20px;
}

/* Each individual div of part 2 */
.questionDiv, .dataDiv, .algoDiv {
  width: 100%;
  margin-bottom: 20px;
}

/* Each individual div of part 3 */
.valDiv, .metricsDiv, .multiEvalDiv, .reprodDiv {
  width: 100%;
  margin-bottom: 20px;
}

/* List + form "new item" button shape */
.bigDiv{
  margin: 0px 15px 0px 15px;
  box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.2);
  padding: 1px 10px 10px 0;
  max-width: 100%;
  border-top: solid;
  border-radius: 10px;
  font-size: 0.8em;
}

.bigDiv-question{
  border-top: solid var(--question);
}

.bigDiv-data{
  border-top: solid var(--data);
}

.bigDiv-algo{
  border-top: solid var(--algo);
}

.bigDiv-other{
  border-top: solid var(--other);
}

/* Form "new item" button shape */
.formList{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* 
LIST FORMAT
---------------------------------------------------------
*/

/* Remove list bullets */
ul{
  list-style-type: none; 
}

/* Vertical space between list items */
li{
  margin: 5px 0px;
  display: flex;
  align-items: center;
}

.itemLabel{
  display: inline-block;
  max-width: 100%;
  width: 70%;
  overflow: visible;
  word-break: break-word;
}

/* Box order: trash, to do, in progress, done, not concerned */
.itemLabel       { order: 0; flex: 1; }
.btn-icon-remove { order: 1; }
input#todo       { order: 2; }
input#inprogress { order: 3; }
input#done       { order: 4; }
input#NC         { order: 5; }


/*
LEGEND OF RADIO BUTTONS
----------------------------------------
*/

/* Div of the legend */
.legendDiv{
  border: solid;
  display: flex;
  flex-direction: row;

  height: fit-content;
  justify-content: space-between;
  align-items: top;
  /*margin: -20px 15px -30px 15px;*/
}

.lengendList{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:self-end;
}

/* Print button */
#print-button{
  width: fit-content;
  height: fit-content;
  order: 1;
}

.legendSquares{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  order: 2;
}




/* Check boxes legend */
.legendUl{
  display: flex;
  flex-direction: row;
  height: fit-content;
  align-items: end;
  gap: 16px;
  order: 2;
}

/* Legend list */
li.legend{
  margin: 0;
  gap: 5px;

}

/* Square shape */
.square{
  height: 1em;
  width: 1em;
  border-radius: 20%;
  border: 1px solid;
}

/* Square color according their id */
.square#NC{
  background-color: var(--nc_bg);
  border-color: var(--nc_bd);
}
.square#done{
  background-color: var(--done_bg);
  border-color: var(--done_bd);
}
.square#inprogress{
  background-color: var(--inprog_bg);
  border-color: var(--inprog_bd);
}
.square#todo{
  background-color: var(--todo_bg);
  border-color: var(--todo_bd);
}





/*
RADIO BUTTONS
----------------------------------------
*/

input[type="radio"]{
  appearance: none;
  float: right;
  width: 1em; /*1.3em*/
  height: 1em;
  border-radius: 20%;
  border: 1px solid;
  cursor: pointer;
  margin: 0px 5px 0px 0px;
  background-repeat: no-repeat;
  display: grid;
  place-content: center;
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}

/* Before check radio button */
input[type="radio"]:before{
  content: "\2713";
  opacity: 0;
  color: black;
}

/* When check a radio button */
input[type="radio"]:checked:before{
  opacity: 1;
  transition: all 0.3s ease;
}

/* Color of radio buttons according their meaning */
input[type="radio"][id="todo"]{
  background-color: var(--todo_bg);
  border-color: var(--todo_bd);
}
input[type="radio"][id="inprogress"]{
  background-color: var(--inprog_bg);
  border-color: var(--inprog_bd);
}
input[type="radio"][id="done"]{
  background-color: var(--done_bg);
  border-color: var(--done_bd);
}
input[type="radio"][id="NC"]{
  background-color: var(--nc_bg);
  border-color: var(--nc_bd);
  margin-left: 15px;
}

/* Selected status on screen */
/*
input[type="radio"][id="todo"]:checked{
  background-color: var(--todo);
}
input[type="radio"][id="inprogress"]:checked{
  background-color: var(--inprog);
}
input[type="radio"][id="done"]:checked{
  background-color: var(--done);
}
input[type="radio"][id="NC"]:checked{
  background-color: var(--nc);
}
*/


/* When "in progress" radio button is checked */
input[type="radio"][id="inprogress"]:checked~input[type="radio"][id="todo"]{
  opacity: 0.5;
}

/* When "done" radio button is checked */
input[type="radio"][id="done"]:checked~input[type="radio"][id="inprogress"]{
  opacity: 0.5;
}
input[type="radio"][id="done"]:checked~input[type="radio"][id="todo"]{
  opacity: 0.5;
}

/* When "not-concerned" radio button is checked */
input[type="radio"][id="NC"]:checked~input[type="radio"][id="todo"]{
  background-color: var(--nc_bg);
  border-color: var(--nc_bd);
  opacity: 0.5;
}
input[type="radio"][id="NC"]:checked~input[type="radio"][id="inprogress"]{
  background-color: var(--nc_bg);
  border-color: var(--nc_bd);
  opacity: 0.5;
}
input[type="radio"][id="NC"]:checked~input[type="radio"][id="done"]{
  background-color: var(--nc_bg);
  border-color: var(--nc_bd);
  opacity: 0.5;
}
input[type="radio"][id="NC"]:checked~.itemLabel{
  opacity: 0.5;
}

/* 
REMOVE BUTTONS
---------------------------------------------------------
*/

.btn-icon-remove{
  float: inline-end;
  background: none;
  border: none;
  margin: 0px 5px 0 0;
  display: grid;
  cursor: pointer;
}

.fa-solid.fa-trash-can{
  float: inline-end;
  background: none;
  border: none;
  margin: 0px 5px 0 0;
  display: grid;
  font-size: 12px;
}

/*
PRINTING
----------------------------------------
*/

@media print{
  /* 
  Preserve css style when printing 
  and avoid element overlap two pages
  */
  * {
      print-color-adjust: exact!important;
      page-break-inside: avoid;
  }

  /* Landscape printing*/
  @page{
    size: landscape;
  }
  
  /* Remove remove button */
  .btn-icon-remove{
    display: none;
  }

  /* Remove the form to add new item*/
  .formList{
    display: none;
  }

  /* Remove print button*/
  .btn#print-button{
    display: none;
  }

}