/*
TITLES FORMAT
----------------------------------------------------
*/
h1, h2, h3{
  text-align: center;
}

/* 
DIV FORMAT 
----------------------------------------------------
*/

/* Part 1 + Part 2 */
.infraDiv, .protoDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  gap: 10px;
}

/* Each individual div of part 1 and part 2 div*/
.HRDiv, .CRDiv, .GPDiv, .questionDiv, .dataDiv, .algoDiv {
  width:95%;
}

/* List + form "new item" button shape */
.bigDiv{
  margin: 0px 15px 0px 15px;
  box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.2);
  padding: 1px 10px 10px 0;
  max-width: 100%;
}

/* Form "new item" button shape */
.formList{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Vertical space between list items */
li{
  margin: 5px 0px;
}


/* 
LIST FORMAT
---------------------------------------------------------
*/

/* Remove list bullets */
ul{
  list-style-type: none; 
}


/*
LEGEND OF RADIO BUTTONS
----------------------------------------
*/

/* Square shape */
.square{
  height: 1em;
  width: 1em;
  border-radius: 20%;
  border: 0.1em solid currentColor;
}

/* Square color according their id */
.square#NC{
  background-color: #808080;
}
.square#done{
  background-color: #2ecc71;
}
.square#inprogress{
  background-color: #3498db;
}
.square#todo{
  background-color: #f1c40f;
}

/* Div of the legend */
.legendDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Put legend list into the right */
.legendUl{
  margin-left: auto;
}

/* Legend list */
li.legend{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: -30px 0px;
}


/*
RADIO BUTTONS
----------------------------------------
*/

input[type="radio"]{
  appearance: none;
  float: right;
  width: 1.3em;
  height: 1.3em;
  border-radius: 20%;
  border: 0.13em solid currentColor;
  cursor: pointer;
  margin: 0px 5px 0px 0px;
  background-repeat: no-repeat;
  display: grid;
  place-content: center;
}

/* Before check radio button */
input[type="radio"]:before{
  content: "\2713";
  opacity: 0;
  color: black;
}

/* When check a radio button */
input[type="radio"]:checked:before{
  opacity: 1;
  transition: all 0.3s ease;
}

/* Color of radio buttons according their meaning */
input[type="radio"][id="done"]{
  background-color: #f1c40f;
}
input[type="radio"][id="inprogress"]{
  background-color: #3498db;
}
input[type="radio"][id="todo"]{
  background-color: #2ecc71;
}
input[type="radio"][id="NC"]{
  background-color: #808080;
  margin-left: 15px;
}

/* When "in progress" radio button is checked */
input[type="radio"][id="inprogress"]:checked~input[type="radio"][id="done"]{
  opacity: 0.5;
}

/* When "done" radio button is checked */
input[type="radio"][id="todo"]:checked~input[type="radio"][id="inprogress"]{
  opacity: 0.5;
}
input[type="radio"][id="todo"]:checked~input[type="radio"][id="done"]{
  opacity: 0.5;
}

/* When "not-concerned" radio button is checked */
input[type="radio"][id="NC"]:checked~input[type="radio"][id="todo"]{
  background-color: #808080;
  opacity: 0.5;
}
input[type="radio"][id="NC"]:checked~input[type="radio"][id="inprogress"]{
  background-color: #808080;
  opacity: 0.5;
}
input[type="radio"][id="NC"]:checked~input[type="radio"][id="done"]{
  background-color: #808080;
  opacity: 0.5;
}
input[type="radio"][id="NC"]:checked~.itemLabel{
  opacity: 0.5;
}

/* 
REMOVE BUTTONS
---------------------------------------------------------
*/

.btn-icon-remove{
  float: inline-end;
  background: none;
  border: none;
  margin: 0px 5px 0 0;
  display: grid;
  cursor: pointer;
}

.fa-solid.fa-trash-can{
  float: inline-end;
  background: none;
  border: none;
  margin: 0px 5px 0 0;
  display: grid;
}


/*
PRINTING
----------------------------------------
*/

@media print{
  /* 
  Preserve css style when printing 
  and avoid element overlap two pages
  */
  * {
      print-color-adjust: exact!important;
      page-break-inside: avoid;
  }

  /* Landscape printing*/
  @page{
    size: landscape;
  }
  
  /* Remove remove button */
  .btn-icon-remove{
    display: none;
  }

  /* Remove the form to add new item*/
  .formList{
    display: none;
  }

  /* Remove print button*/
  .btn#print-button{
    display: none;
  }

  /* Light color for priting */
  input[type="radio"][id="done"]{
    background-color: #ffe26d;
  }
  input[type="radio"][id="inprogress"]{
    background-color: #77c9ff;
  }
  input[type="radio"][id="todo"]{
    background-color: #89ffba;
  }
  input[type="radio"][id="NC"]{
    background-color: #bebebe;
    margin-left: 15px;
  }

  /* Legend: Light color for priting */
  .square#NC{
    background-color: #bebebe;
  }
  .square#done{
    background-color: #89ffba;
  }
  .square#inprogress{
    background-color: #77c9ff;
  }
  .square#todo{
    background-color: #ffe26d;
  }
}